# Pliki logów i systemowe
*.log
.DS_Store

# Pliki IntelliJ
.idea/
*.iml

# Pliki Mavena
target/
application/target/
dependency-reduced-pom.xml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
buildNumber.properties

# Pliki Terraforma
.terraform/
infrastructure/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl